@model IEnumerable<ActivityTracking.DomainModel.Group>

@{
    ViewBag.Title = "Setting";
}

<h2>@ViewBag.Title</h2>

@foreach (var group in Model)
{
    <tr>
        <td>
            <div>@Html.DisplayFor(modelUser => group.Name)</div>
        </td>
    </tr>
}
